<div class="mobile-backdrop">
  <div class="mobile-menu-container">
    <button type="button" class="header-burger-closer">
      <svg width="24" height="24" class="header-burger-icon">
        <use href="/img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <a href="#about-me" class="mobile-nav-link" data-i18n="header.about-me">About me</a>
      <a href="#you-will-find" class="mobile-nav-link" data-i18n="header.you-will-find">What will you find</a>
      <a href="#for-whom" class="mobile-nav-link" data-i18n="header.for-whom">For whom</a>
      <a href="#gallery" class="mobile-nav-link" data-i18n="header.gallery">Gallery</a>
      <a href="#address" class="mobile-nav-link" data-i18n="header.adress">Adress</a>
    </nav>

    <ul class="mobile-menu-info">
      <li class="mobile-info-item language-switcher">
        <p>Switch language: </p>
        <button class="language-switcher-btn" type="button">
          EN
          <svg width="24" height="24" class="language-switcher-icon">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="mobile-info-item mobmenu-our-phone">
        <a href="tel:+971524116236" class="mobmenu-phone-icon">
          <svg width="24" height="24" class="">
            <use href="/img/icons.svg#icon-call"></use>
          </svg>
        </a>
        <a href="tel:+971524116236" class="mobmenu-phone-number">+971 52 411 6236</a>
      </li>
      <li class="mobile-info-item mobile-our-socials">
        <p>Follow me</p>
        <ul class="mobmenu-socials-list">
          <li class="mobmenu-socials-item">
            <a href="https://www.instagram.com/be.flexs/?igshid=MzMyNGUyNmU2YQ%3D%3D" target="_blank" rel="noopener">
              <svg width="24" height="24" class="">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobmenu-socials-item">
            <a href="https://wa.me/971524116236" target="_blank" rel="noopener">
              <svg width="24" height="24" class="">
                <use href="/img/icons.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="mobmenu-socials-item">
            <a href="https://m.facebook.com/be.flexs" target="_blank" rel="noopener">
              <svg width="24" height="24" class="">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>