<div class="mobile-menu-container">

    <button type="button" class="header-burger-closer">
        <svg width="24" height="24" class="header-burger-icon">
            <use href="/img/icons.svg#icon-burger-menu"></use>
        </svg>
    </button>

    <nav class="mobile-menu-nav">
        <a href="" class="mobile-nav-link">About me</a>
        <a href="" class="mobile-nav-link">What will you find</a>
        <a href="" class="mobile-nav-link">For whom</a>
        <a href="" class="mobile-nav-link">Gallery</a>
        <a href="" class="mobile-nav-link">Adress</a>
    </nav>

    <ul class="mobile-menu-info">
        <li class="mobile-info-item language-switcher">
            <p>Switch language: </p>
            <button>
                EN
                <svg width="24" height="24" class="">
                    <use href="/img/icons.svg#icon-burger-menu"></use>
                </svg>
            </button>
        </li>
        <li class="mobile-info-item mobile-our-phone">
            <svg width="24" height="24" class="">
                <use href="/img/icons.svg#icon-burger-menu"></use>
            </svg>
            <a href="tel:+971524116236">+971 52 411 6236</a>
        </li>
        <li class="mobile-info-item mobile-our-socials">
            <p>Follow me</p>
            <ul>
                <li>
                    <a href="">
                        <svg width="24" height="24" class="">
                            <use href="/img/icons.svg#icon-burger-menu"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="24" height="24" class="">
                            <use href="/img/icons.svg#icon-burger-menu"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="24" height="24" class="">
                            <use href="/img/icons.svg#icon-burger-menu"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>