.gallery {
  margin-bottom: 72px;
  position: relative;
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.gallery-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 100%;
  border-radius: 36px;
  border: 2px solid #000;
  background-size: 100%;
  background-position: center;
  background-color: rgba(107, 57, 208, 0.1);
  z-index: -1;

  @media screen and (min-width: 400px) {
        width: 375px;
      }
}

.gallery-title {
  padding-top: 40px;
  color: var(--black-90);
  font-family: var(--orelega-one);
  font-size: 40px;
  font-weight: var(--normal);
  line-height: normal;
  text-align: center;
}
.gallery-swiper-container {
  padding-left: 16px;
  padding-bottom: 16px;
}

.gallery-img {
  width: 343px;
  height: 514px;
  display: block;
  border-radius: 36px;
  border: 2px solid #000;
  overflow: hidden;
}
@media screen and (min-width: 744px) {
  .gallery {
    margin-bottom: 80px;
    width: 744px;
  }

  .gallery-title {
    padding-top: 44px;
    font-size: 60px;
  }
  .gallery-swiper-container {
    padding-left: 48px;
    padding-bottom: 47px;
  }
  .gallery-img {
    width: 409px;
    height: 510px;
  }

  .gallery-wrapper::before {
    width: 519px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 88px;
    width: 1280px;
  }
  .gallery-title {
    padding-top: 40px;
  }
  .gallery-swiper-container {
    padding-left: 80px;
    padding-bottom: 43px;
  }
}
