.training_section {
	padding: 0px 16px 0px 16px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;}

	@media (min-width: 744px) {
	.training_section {
		flex-direction: row;
		}
		}
.training_section_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.main_title {
	font-family: var(--orelega-one);
	color: var(--black-90);
	text-align: center;
	font-size: 40px;
	font-weight: var(--normal);
	line-height: 1.09;
	margin-bottom: 40px;
}

@media (min-width: 744px) {
	.main_title {
		line-height: 1.09;
	}
}

@media (min-width: 1280px) {
	.main_title {
		font-size: var(--title-2);
	}
}

@media (min-width: 1280px) {
	.training_section_container {
		margin-bottom: 64px;
		margin-top: unset;
	}
}

.gymnast_img {
	border-radius: 36px;
	border: 2px solid #000;
	background: lightgray 0px -35.97px / 100% 118.685% no-repeat;
	width: 343px;
}


@media (min-width: 744px) {
	.gymnast_img {
		border-radius: 36px 36px 0px 0px;
		width: 647px;
		height: 546px;
		border: unset;
	}
}

@media (min-width: 1280px) {
	.gymnast_img {
		border-radius: 36px 0px 0px 36px;
	}
}

.training_border {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

@media (min-width: 744px) {
	.training_border {
		gap: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 648px;
		border-radius: 36px 36px 36px 36px;
		border: 2px solid #000;
		position: relative;
			height: 1051px;
	}

	.training_border::before {
		content: "";
		width: 647px;
		border: 1px solid #000;
		position: absolute;
		top: 546px;
		}
}

@media (min-width: 1280px) {
	.training_border {
		display: flex;
		flex-direction: row;
		width: 1278px;
		height: 529px;
		position: relative;
		gap: 23px;
	}
	.training_border::before {
		content: "";
		height: 536px;
		border: 1px solid #000;
		position: absolute;
		width: 1px;
		top: 0;
		left: 49.7%;
		}
}

.training_wrapp_title {
	color: var(--black-90, #08070C);
	text-align: center;
	font-size: var(--subtitle-2);
	font-weight: var(--normal);
	line-height: 1.09; 
}

@media (min-width: 744px) {
	.training_wrapp_title {
		font-size: var(--title-3);
		margin-top: 24px;
	}
}

@media (min-width: 1280px) {
	.training_wrapp_title {
		margin-top: 36px;
	}
}

.training_wrapp_text {
	color: var(--black-90, #08070C);
	text-align: center;
	font-family: var(--manrope);	
	font-size: var(--subtitle-2);
	font-weight: var(--bold-extra);
	line-height: 1.36;
}

@media (min-width: 1280px) {
	.training_wrapp_text {
		text-align: left;
	}
}

.training_icon {
	width: 43.996px;
	height: 44px;

}

.training_wrapp {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (min-width: 744px) {
	.training_wrapp {
		/* width: 647px; */
		gap: 32px;
	}
}

@media (min-width: 1280px) {
	.training_wrapp {
		align-items: start;
		width: 628px;
		border-radius: 0px 36px 36px 0px;
		gap: 24px;
	}
}

.training_list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
@media (min-width: 744px) {
	.training_list{
		margin-left: 26px;
		gap: 26px;
	}
}

@media (min-width: 1280px) {
	.training_list {
		margin-left: unset;
	}
}

.training_item {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 24px;
	max-width: 343px;
}
@media (min-width: 744px) {
	.training_item {
	max-width: 627px;	}
}

.training_last_text {
	color: #000;
	text-align: center;
	font-size: var(--body-2);
	font-style: normal;
	font-weight: var(--normal);
	line-height: 1.36; 
	max-width: 327px;
	/* height: 153px; */
}

@media (min-width: 744px) {
	.training_last_text {
		font-size: var(--body-1);
		max-width: 627px;
		line-height: 1.36; 
	}
}


.training_section_container::after {
	content: "";
		display: block;
		width: 100%;
		border-top: 2px solid #949494;
		margin-top: 8px;
}

@media (min-width: 744px) {
	.training_section_container::after {
		content: unset;
	}
}

@media (min-width: 1280px) {
	.training_last_text {
		text-align: left;
	}
}

.top_title {
	color: var(--black-90, #08070C);
	font-family: Orelega One;
	font-size: var(--subtitle-2);
	font-weight: var(--normal);
	line-height: 1.09; 
}

@media (min-width: 744px) {
	.top_title {
		font-size: var(--title-3);
		line-height: 1.09; 
	}
}

.low_text {
	color: var(--black-90, #08070C);
	font-family: var(--manrope);
	font-size: var(--smallest);
	font-style: normal;
	font-weight: var(--normal);
	line-height: 1.36; 
}

@media (min-width: 744px) {
	.low_text {
		font-size: var(--subtitle-2);
		line-height: 1.36; 
	}
}

@media (min-width: 744px) {
	.training_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		}
}

.training_section_container::before {
		content: '';
			background-image: url(/img/about_training/be_flex_pink_1x.svg);
			background-repeat: repeat-x;
			width: 100%;
			height: 45px;
			background-color: transparent;
			text-align: center;
}

@media (min-width: 1280px) {
	.training_section_container::before {
		display: none;
	}
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.training_section_container {
		background-image: url(/img/about_training/be_flex_pink_2x.jpg);
	}
}

@media screen and (max-width: 743px) {
	.training_section_container::before {
	display: none;
	}
}

@media (min-width: 744px) {
	.training_section_title {
		margin-top: 55px;
		}
}
