<header class="header-wrap">
    <div class="header-container">
        <a href="./index" class="header-logo-link">
            <svg>
                <use href="/img/icons.svg#icon-logo"></use>
            </svg></a>

        <nav class="header-nav">
            <a href="#about-me" class="header-nav-link">About me</a>
            <a href="#you-will-find" class="header-nav-link">What will you find</a>
            <a href="#for-whom" class="header-nav-link">For whom</a>
            <a href="#gallery" class="header-nav-link">Gallery</a>
            <a href="#address" class="header-nav-link">Adress</a>
        </nav>

        <div class="header-switchandburger-wrap">
            <div class="header-language-switcher">
                <button class="language-switcher-btn" type="button">
                    EN
                    <svg width="24" height="24" class="language-switcher-icon">
                        <use href="/img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>

            <button type="button" class="header-burger-opener">
                <svg width="24" height="24" class="header-burger-icon">
                    <use href="/img/icons.svg#icon-burger-menu"></use>
                </svg>
            </button>
        </div>

        <div class="header-contacts">
            <a href="https://www.instagram.com/be.flexs/?igshid=MzMyNGUyNmU2YQ%3D%3D" target="_blank" rel="noopener"
                class="header-insta-link">
                <svg width="24" height="24">
                    <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
            <div class="header-phone-wrap">
                <a href="https://wa.me/971524116236" target="_blank" rel="noopener" class="header-phone-icon">
                    <svg width="24" height="24" class="">
                        <use href="/img/icons.svg#icon-whatsapp"></use>
                    </svg>
                </a>
                <a href="tel:+971524116236" class="header-phone-number">+971 52 411 6236</a>
            </div>

        </div>
    </div>
</header>
<load src="/partials/header/mobile-menu/mobile-menu.html" />