.about-me {
    padding: 16px 16px;
}

.about-me-title {
    font-size: 40px;
    font-weight: var(--normal);
    color: var(--black-90);
}

@media screen and (max-width: 743px) {
    .intro-text p:nth-child(n+4) {
        display: none;
    }

    .intro-text.collapsed p:nth-child(n+4) {
        display: block;
    }

    .ellipsis {
        display: inline;
    }

    .show-more-btn {
        display: inline;
    }

    .show-less-btn {
        display: none;
    }
}

@media screen and (min-width: 744px) {
    .ellipsis {
        display: none;
    }

    .show-more-btn,
    .show-less-btn {
        display: none;
    }

    .intro-text p {
        display: block;
    }
}