<section class="about-me container">
    <h2 class="about-me-title">About Me</h2>
    <picture>
        <source srcset="../../img/about_me/about_me_desc.jpg" media="(min-width: 1280px)" />
        <source srcset="../../img/about_me/about_me_tablet.jpg" media="(min-width: 744px)" />
        <source srcset="../../img/about_me/about_me_mob.jpg" media="(max-width: 743px)" />
        <img src="../../img/about_me/about_me_desc.jpg" alt="Anastasia's photo" class="about-me-photo" loading="lazy">
    </picture>
    <div class="intro-text">
        <p>Hello everyone - welcome to my website.</p>
        <p>My name is Anastasia and I am a gymnastics coach.</p>
        <p>Now I want to tell you about myself and my experience.</p>
        <p>
            I have taught kids gymnastics for more than 7 years. My coaching career
            started when I was 16 years old. From that time until now I have been so
            happy to choose this job and enjoy it. Now I am 23 years old and from
            these 7 years of coaching, I have worked in a lot of different countries:
            Ukraine, Turkey, Kuwait, and Dubai. Nowadays I am working in Dubai since
            2021 and I like this place, gym and opportunities that I have here. I work
            with different ages of kids starting from 4 years old. Also, I have my
            competition girls with them we visit a lot of competition places in
            Dubai, Abu-Dhabi, and other cities and they get a lot of medals and
            trophies.
        </p>
    </div>    
</section>