<section class="numbers-section">
    <ul class="numbers-section-list">
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">18</h3>
            <p class="numbers-section-text" data-i18n="numbers.first">Years <br> in gymnastics</p>
        </li>
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">7</h3>
            <p class="numbers-section-text" data-i18n="numbers.second">Years <br> teaching children</p>
        </li>
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">4</h3>
            <p class="numbers-section-text" data-i18n="numbers.third">Countries <br> in which I worked</p>
        </li>
    </ul>
</section>