<section class="numbers-section">
    <ul class="numbers-section-list">
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">18</h3>
            <span class="numbers-section-line"></span>
            <p class="numbers-section-text">Years <br>in gymnastics</p>
        </li>
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">7</h3>
            <span class="numbers-section-line"></span>
            <p class="numbers-section-text">Years <br>teaching children</p>
        </li>
        <li class="numbers-section-item">
            <h3 class="numbers-section-number">4</h3>
            <span class="numbers-section-line"></span>
            <p class="numbers-section-text">Countries<br> in which I worked</p>
        </li>
    </ul>
</section>