.numbers-section {
    height: 150px;
    border-bottom: solid 2px rgba(107, 57, 208, 0.40);
    padding: 40px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-section-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 343px;
}

.numbers-section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-section-number {
    color: var(--main-violet);
    font-family: var(--orelega-one);
    font-size: var(--title-3);
    font-style: normal;
    font-weight: var(--normal);
    line-height: normal;
    display: block;
    position: relative;
}

.numbers-section-number::before {
    content: '';
    width: 71px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.numbers-section-text {
    color: var(--black-90);
    text-align: center;
    font-family: var(--manrope);
    font-size: var(--smallest);
    font-style: normal;
    font-weight: var(--bold);
    line-height: normal;
    display: block;
}


@media only screen and (min-width: 744px) {
    .numbers-section {
        height: 148px;
        padding: 40px 48px;
    }

    .numbers-section-list {
        width: 648px;
    }

    .numbers-section-item {
        flex-direction: row;
    }

    .numbers-section-number {
        padding-right: 8px;
        font-size: var(--title-2);
    }

    .numbers-section-text {
        padding-left: 8px;
        font-size: var(--body-regular);
        text-align: left;
    }

    .numbers-section-number::before {
        width: 2px;
        height: 44px;
        left: 100%;
        top: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    .numbers-section {
        height: 206px;
        padding: 54px 100px;
    }

    .numbers-section-list {
        width: 1280px
    }

    .numbers-section-item {
        /* height: 98px; */
    }

    .numbers-section-number::before {
        width: 2px;
        height: 84px;
        left: 100%;
        top: 7px;
    }

    .numbers-section-number {
        font-size: var(--largest);
        padding-right: 36px;
    }

    .numbers-section-text {
        font-size: var(--subtitle-2);
        padding-left: 16px;
    }
}