.numbers-section {
    height: 150px;
    border-bottom: solid 2px rgba(107, 57, 208, 0.40);
    padding: 40px 16px;
}

.numbers-section-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numbers-section-item {
    display: flex;
    width: 104px;
    height: 90px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.numbers-section-number {
    color: var(--main-violet);

    font-family: var(--orelega-one);
    font-size: var(--title-3);
    font-style: normal;
    font-weight: var(--normal);
    line-height: normal;

    display: block;
}

.numbers-section-line {
    width: 71px;
    height: 2px;

    background-color: #000;
    border-radius: 5px;
    display: block;
}

.numbers-section-text {
    color: var(--black-90);
    text-align: center;
    font-family: var(--manrope);
    font-size: var(--smallest);
    font-style: normal;
    font-weight: var(--bold);
    line-height: normal;
    display: block;
}