<section class="apparatus">
    <h2 class="apparatus-title">Practicing in apparatus</h2>
    <ul class="apparatus-list">
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_1_desc.jpg 1x, /img/apparatus/apparatus_1_desc_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_1_tablet.jpg 1x, /img/apparatus/apparatus_1_tablet_2x.jpg 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_1_mob.jpg 1x, /img/apparatus/apparatus_1_mob_2x.jpg 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_1_desc.jpg" alt="Practicing in bars" class="for-whom-img"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description">Be strong and brave</p>
            <h3 class="apparatus-card-title">Bars</h3>
        </li>
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_2_desc.jpg 1x, /img/apparatus/apparatus_2_desc_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_2_tablet.jpg 1x, /img/apparatus/apparatus_2_tablet_2x.jpg 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_2_mob.jpg 1x, /img/apparatus/apparatus_2_mob_2x.jpg 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_2_desc.jpg" alt="Practicing in vault" class="for-whom-img"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description">Jump high and run fast</p>
            <h3 class="apparatus-card-title">Vault</h3>
        </li>
        <li class="apparatus-card apparatus-card-third">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_3_desc.jpg 1x, /img/apparatus/apparatus_3_desc_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_3_tablet.jpg 1x, /img/apparatus/apparatus_3_tablet_2x.jpg 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_3_mob.jpg 1x, /img/apparatus/apparatus_3_mob_2x.jpg 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_3_desc.jpg" alt="Practicing in beam" class="for-whom-img"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description">Balance and control body</p>
            <h3 class="apparatus-card-title">Beam</h3>
        </li>
        <li class="apparatus-card apparatus-card-fourth">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_4_desc.jpg 1x, /img/apparatus/apparatus_4_desc_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_4_tablet.jpg 1x, /img/apparatus/apparatus_4_tablet_2x.jpg 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_4_mob.jpg 1x, /img/apparatus/apparatus_4_mob_2x.jpg 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_4_desc.jpg" alt="Practicing in floor" class="for-whom-img"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description">Listen to music and dance</p>
            <h3 class="apparatus-card-title">Floor</h3>
        </li>
    </ul>
</section>