<section class="apparatus">
    <h2 class="apparatus-title" data-i18n="apparatus.title">Practicing in apparatus</h2>
    <ul class="apparatus-list">
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_1_tablet.webp 1x, /img/apparatus/apparatus_1_tablet_2x.webp 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_1_tablet.webp 1x, /img/apparatus/apparatus_1_tablet_2x.webp 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_1_mob.webp 1x, /img/apparatus/apparatus_1_mob_2x.webp 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_1_tablet.webp" alt="Practicing in bars"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description" data-i18n="apparatus.card1Text">Be strong and brave</p>
            <h3 class="apparatus-card-title" data-i18n="apparatus.card1Sub">Bars</h3>
        </li>
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_2_tablet.webp 1x, /img/apparatus/apparatus_2_tablet_2x.webp 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_2_tablet.webp 1x, /img/apparatus/apparatus_2_tablet_2x.webp 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_2_mob.webp 1x, /img/apparatus/apparatus_2_mob_2x.webp 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_2_tablet.webp" alt="Practicing in vault"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description" data-i18n="apparatus.card2Text">Jump high and run fast</p>
            <h3 class="apparatus-card-title" data-i18n="apparatus.card2Sub">Vault</h3>
        </li>
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_3_tablet.webp 1x, /img/apparatus/apparatus_3_tablet_2x.webp 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_3_tablet.webp 1x, /img/apparatus/apparatus_3_tablet_2x.webp 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_3_mob.webp 1x, /img/apparatus/apparatus_3_mob_2x.webp 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_3_tablet.webp" alt="Practicing in beam"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description" data-i18n="apparatus.card3Text">Balance and control body</p>
            <h3 class="apparatus-card-title" data-i18n="apparatus.card3Sub">Beam</h3>
        </li>
        <li class="apparatus-card">
            <picture class="apparatus-photo">
                <source srcset="/img/apparatus/apparatus_4_tablet.webp 1x, /img/apparatus/apparatus_4_tablet_2x.webp 2x"
                    media="(min-width: 1280px)" />
                <source srcset="/img/apparatus/apparatus_4_tablet.webp 1x, /img/apparatus/apparatus_4_tablet_2x.webp 2x"
                    media="(min-width: 744px)" />
                <source srcset="/img/apparatus/apparatus_4_mob.webp 1x, /img/apparatus/apparatus_4_mob_2x.webp 2x"
                    media="(max-width: 743px)" />
                <img src="/img/apparatus/apparatus_4_tablet.webp" alt="Practicing in floor"
                    loading="lazy">
            </picture>
            <p class="apparatus-card-description" data-i18n="apparatus.card4Text">Listen to music and dance</p>
            <h3 class="apparatus-card-title" data-i18n="apparatus.card4Sub">Floor</h3>
        </li>
    </ul>
</section>