<section class="follow-me">
  <p>Follow me</p>
  <ul class="follow-me-socials-list">
    <li class="follow-me-socials-item">
      <a href="">
        <svg width="24" height="24" class="">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="follow-me-socials-item">
      <a href="">
        <svg width="24" height="24" class="">
          <use href="/img/icons.svg#icon-whatsapp"></use>
        </svg>
      </a>
    </li>
    <li class="follow-me-socials-item">
      <a href="">
        <svg width="24" height="24" class="">
          <use href="/img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
