<section>
  <div class="contact-me-container">
    <h2 class="contact-me-title">Contact me</h2>
    <ul class="contact-me-list">
      <li>
    <div class="contact-me-location">
      <iframe
        id="map_tabl_mob"
        class="contect-me-map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28933.09146525062!2d55.1554221!3d24.9784814!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f73cdca1cb627%3A0x32f4840192af3c22!2sFly%20High%20Fitness!5e0!3m2!1suk!2sua!4v1701249046233!5m2!1suk!2sua"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    </li>
    <li>
    <ul class="contact-me-card">
      <li>
        <ul class="contact-me-card-info">
          <li class="contact-me-iconbox">
            <svg class="contact-me-icon">
              <use href="/img/icons.svg#icon-location-bw"></use>
            </svg>
          </li>
          <li>
            <ul class="contact-me-card-details">
              <li>
                <p class="contact-me-card-info-title">Address:</p>
              </li>
              <li>
                <p class="contact-me-card-info-data">
                  Dip 1, “Fly High Fitness”
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <ul class="contact-me-card-info">
          <li class="contact-me-iconbox">
            <svg class="contact-me-icon">
              contact-me-icon
              <use href="/img/icons.svg#icon-phone"></use>
            </svg>
          </li>
          <li>
            <ul class="contact-me-card-details">
              <li>
                <p class="contact-me-card-info-title">Phone number:</p>
              </li>
              <li>
                <a href="tel:+971524116236" class="contact-me-card-info-data contact-me-phone-number">+971 52 411 6236</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <ul class="contact-me-card-info">
          <li class="contact-me-iconbox">
            <svg class="contact-me-icon">
              <use href="/img/icons.svg#icon-clock"></use>
            </svg>
          </li>
          <li>
            <ul class="contact-me-card-details">
              <li>
                <p class="contact-me-card-info-title">Working hours:</p>
              </li>
              <li>
                <p class="contact-me-card-info-data">
                  Monday - Sunday:<span class="contact-me-card-info-data"
                    >10 am - 9 pm</span
                  >
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="contact-me-btn">
          Get your trial class
        </button>
      </li>
    </ul>
    </ul>
    </li>
  </div>
</section>
