<section class="for-whom" id="for-whom">
    <h2 class="for-whom-title" data-i18n="forWhom.title">For whom?</h2>
    <ul class="for-whom-list">
        <li class="for-whom-first-block">
            <div class="first-box-content">
                <picture class="for-whom-photo">
                    <source srcset="/img/for_whom/for_whom_1_desk.webp 1x, /img/for_whom/for_whom_1_desk_2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="/img/for_whom/for_whom_1_tablet.webp 1x, /img/for_whom/for_whom_1_tablet_2x.webp 2x"
                        media="(min-width: 744px)" />
                    <source srcset="/img/for_whom/for_whom_1_mob.webp 1x, /img/for_whom/for_whom_1_mob_2x.webp 2x"
                        media="(max-width: 743px)" />
                    <img src="/img/for_whom/for_whom_1_desk.webp" alt="The child with the coach" 
                        loading="lazy">
                </picture>
                <div class="for-whom-first-wrapper">
                    <h3 class="for-whom-text-title" data-i18n="forWhom.subtitle1">Gymnastics for children</h3>
                    <p class="for-whom-description" data-i18n="forWhom.desc1">3-14 years</p>
                </div>
            </div>
        </li>
        <li class="for-whom-second-block">
            <div class="second-box-content">
                <picture class="for-whom-photo for-whom-second-photo">
                    <source srcset="/img/for_whom/for_whom_2_desk.webp 1x, /img/for_whom/for_whom_2_desk_2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="/img/for_whom/for_whom_2_tablet.webp 1x, /img/for_whom/for_whom_2_tablet_2x.webp 2x"
                        media="(min-width: 744px)" />
                    <source srcset="/img/for_whom/for_whom_2_mob.webp 1x, /img/for_whom/for_whom_2_mob_2x.webp 2x"
                        media="(max-width: 743px)" />
                    <img src="/img/for_whom/for_whom_2_desk.webp" alt="The group of young gymnasts" 
                        loading="lazy">
                </picture>
                <h3 class="for-whom-second-text-title" data-i18n="forWhom.subtitle2">Group classes</h3>
                <p class="for-whom-second-description" data-i18n="forWhom.desc2">2 / 4 / 8 <span class="for-whom-span" >persons</span></p>
            </div>
        </li>
        <li class="for-whom-third-block">
            <div class="third-box-content">
                <picture class="for-whom-photo">
                    <source srcset="/img/for_whom/for_whom_3_desk.webp 1x, /img/for_whom/for_whom_3_desk_2x.webp 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="/img/for_whom/for_whom_3_tablet.webp 1x, /img/for_whom/for_whom_3_tablet_2x.webp 2x"
                        media="(min-width: 744px)" />
                    <source srcset="/img/for_whom/for_whom_3_mob.webp 1x, /img/for_whom/for_whom_3_mob_2x.webp 2x"
                        media="(max-width: 743px)" />
                    <img src="/img/for_whom/for_whom_3_desk.webp" alt="The children with their coach"
                         loading="lazy">
                </picture>
                <div class="for-whom-third-block-wrapper">
                    <h3 class="for-whom-third-title" data-i18n="forWhom.callToAct">Ready to join?</h3>
                    <button type="button" class="to-join-btn" data-i18n="forWhom.btn">To join</button>
                </div>
            </div>
        </li>
    </ul>
</section>