<section class="hero-section">
    <h1 class="hero-big-title">
        <picture>

            <source srcset="/img/hero/hero_desc.png 1x, /img/hero/hero_desc_2x.png 2x" media="(min-width: 1280px)">

            <source srcset="/img/hero/hero_tablet.png 1x, /img/hero/hero_tablet_2x.png 2x" media="(min-width: 744px)">

            <source srcset="/img/hero/hero_mob.png 1x, /img/hero/hero_mob_2x.png 2x" media="(max-width: 743px)">

            <img src="/img/hero/hero_desc.png" alt="Be Flex big logo">

        </picture>
    </h1>

    <div class="hero-free-trial">
        <h2 class="hero-subtitle">Gymnastics for girls</h2>
        <button type="button" class="hero-button">Book for a trial class</button>
    </div>
</section>