<section id="submit-form" class="sign_up_section">
	<div class="sign_up_section_container">
		<h2 class="sign_up_title main_title" data-i18n="submitForm.title">Sign up for the 1st
		training session</h2>
	<div class="form_wrapper">
	<form id="form" class="sign_up_form" action="#" method="post" enctype="multipart/form-data" novalidate>
		<div class="sign_up_form_div">
					<div class="user_name_wrap">
						<input type="text" id="user-name" name="user-name" class="submit_form_input name-input" placeholder="Name" required data-i18n="submitForm.placeholderName">
					</div>
					<div class="user-phone-container">
						<input type="tel" id="user-tel" name="user-phone" class="submit_form_input phone_input" required>
					</div>
					<!--textarea-->
					<div class="sign_up-textarea_content">
						<textarea id="user-comment" name="user-comment" class="submit_form_input textarea_content"
							placeholder="comment" data-i18n="submitForm.placeholderComment"></textarea>
					</div>
					<!--checkbox-->
					<div class="sign_up-privacy">
						<input type="checkbox" id="user-privacy" name="user-privacy" value="true" class="sign_up_checkbox_input">
						<label for="user-privacy" class="sign_up_checkbox_label" data-i18n="submitForm.privacy">
							<span class="check-text">
								I agree to the&nbsp;
								<a href="/privacy.txt" class="link-privacy link" target="_blank">Privacy Policy</a>
							</span>
						</label>
					</div>
		</div>

			<button type="submit" id="btn" class="sign_up_button" data-i18n="submitForm.btn">Get started for free</button>
	</form>
</div>	
</div>
</section>

