<section class="to_take_section">
	<div class="to_take_container ">
		<h2 class="to_take_title main_title">What to take
			to class</h2>
		<ul class="to_take_list">
			<li class="to_take_item">
				<div class="to_take_border">
					<svg class="to_take_icon_svg" width="51.604" height="80.321">
						<use href="../../img/icons.svg#icon-sport-clothes"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Comfortable sports clothes</p>
			</li>
			<li class="to_take_item">
				<div class="to_take_border current">
					<svg class="icon_svg_first" width="59.29" height="58.76">
						<use href="../../img/icons.svg#icon-band"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Hair band</p>
			</li>
			<li class="to_take_item">
				<div class="to_take_border">
					<svg class="to_take_icon_svg" width="44.287" height="80.466">
						<use href="../../img/icons.svg#icon-water"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Water</p>
			</li>
			<li class="to_take_item">
				<div class="to_take_border">
					<svg class="to_take_icon_svg" width="75.979" height="82.446">
						<use href="../../img/icons.svg#icon-coming-time"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Come 15 minutes before training</p>
			</li>
			<li class="to_take_item">
				<div class="to_take_border">
					<svg class="to_take_icon_svg" width="69.912" height="77.917">
						<use href="../../img/icons.svg#icon-socks"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Socks</p>
			</li>
			<li class="to_take_item">
				<div class="to_take_border">
					<svg class="to_take_icon_svg mood_svg" width="60.839" height="60.839">
						<use href="../../img/icons.svg#icon-mood"></use>
					</svg>
				</div>
					<p class="to_take_text low_text">Definitely a good mood</p>
			</li>
		</ul>
	</div>
</section>