<section class="you-will-find" id="you-will-find">
    <h2 class="you-will-find-title">You will find</h2>
    <ul class="you-will-find-list">
        <li>
            <div class="you-will-find-card">
                <div class="find-card-wrapper">
                    <h3 class="find-card-title">Individual classes</h3>
                    <picture class="find-card-photo first-card-photo">
                        <source
                            srcset="/img/you_will_find/will_find_1_desc.jpg 1x, /img/you_will_find/will_find_1_desc_2x.jpg 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="/img/you_will_find/will_find_1_tablet.jpg 1x, /img/you_will_find/will_find_1_tablet_2x.jpg 2x"
                            media="(min-width: 744px)" />
                        <source
                            srcset="/img/you_will_find/will_find_1_mob.jpg 1x, /img/you_will_find/will_find_1_mob_2x.jpg 2x"
                            media="(max-width: 743px)" />
                        <img src="/img/you_will_find/will_find_1_desc.jpg" alt="Young girl goes in for gymnastics"
                            class="you-will-find-photo" loading="lazy">
                    </picture>
                </div>
                <div class="first-card-tab-wrapper text-alive">
                    <ol class="find-card-ordered-list">
                        <li class="find-card-list-text"><span class="find-list-span">Student and coach</span></li>
                        <li class="find-card-list-text"><span class="find-list-span break-text">Double<span
                                    class="double-training-explanation">(child and her friend)</span></span></li>
                        <li class="find-card-list-text"><span class="find-list-span">Mom and me</span></li>
                    </ol>
                    <p class="find-card-text">Individual (private) class is a unique opportunity for gymnast to work
                        individually with a coach.
                        Because of individual
                        lessons with a coach, the child develops much better and more successfully, to learn new skills
                        faster and develop
                        exercise better .</p>
                </div>
            </div>
        </li>
        <li>
            <div class="find-second-card">
                <div class="find-card-wrapper">
                    <h3 class="find-card-title">Group classes</h3>
                    <picture class="find-card-photo second-card-photo">
                        <source
                            srcset="/img/you_will_find/will_find_2_desc.jpg 1x, /img/you_will_find/will_find_2_desc_2x.jpg 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="/img/you_will_find/will_find_2_tablet.jpg 1x, /img/you_will_find/will_find_2_tablet_2x.jpg 2x"
                            media="(min-width: 744px)" />
                        <source
                            srcset="/img/you_will_find/will_find_2_mob.jpg 1x, /img/you_will_find/will_find_2_mob_2x.jpg 2x"
                            media="(max-width: 743px)" />
                        <img src="/img/you_will_find/will_find_2_desc.jpg" alt="Children go in for gymnastics"
                            class="you-will-find-photo" loading="lazy">
                    </picture>
                </div>
                <div class="second-card-text-wrapper text-alive">
                    <h4 class="group-classes-title">Group of 8-10 kids</h4>
                    <p class="group-card-text">If you want your child to learn to gymnastics and have fun, then this
                        kind of
                        training is perfect.
                    </p>
                    <br>
                    <p class="group-card-text">In the process of sports activities, children learn to control their body
                        and
                        are taught discipline.
                    </p>
                    <br>
                    <p class="group-card-text">Flexibility, dexterity, ability to move and repeat unfamiliar exercises
                        are
                        developed.</p>
                    <br>
                </div>
            </div>
        </li>
        <li>
            <div class="you-will-find-card hoverable">
                <div class="find-card-wrapper">
                    <h3 class="find-card-title">Competitions</h3>
                    <picture class="find-card-photo third-card-photo">
                        <source
                            srcset="/img/you_will_find/will_find_3_desc.jpg 1x, /img/you_will_find/will_find_3_desc_2x.jpg 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="/img/you_will_find/will_find_3_tablet.jpg 1x, /img/you_will_find/will_find_3_tablet_2x.jpg 2x"
                            media="(min-width: 744px)" />
                        <source
                            srcset="/img/you_will_find/will_find_3_mob.jpg 1x, /img/you_will_find/will_find_3_mob_2x.jpg 2x"
                            media="(max-width: 743px)" />
                        <img src="/img/you_will_find/will_find_3_desc.jpg" alt="A young gymnast with a trophy"
                            class="you-will-find-photo" loading="lazy">
                    </picture>
                </div>
                <div class="third-card-tab-wrapper text-alive">
                    <ol class="third-card-ordered-list">
                        <li class="third-card-list-text"><span class="third-card-span">Preparation for competition
                                between clubs in Dubai</span></li>
                        <li class="third-card-list-text"><span class="third-card-span">Preparing for competition in
                                other countries</span></li>
                        <li class="third-card-list-text"><span class="third-card-span">Create gymnastics program</span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>
</section>