.you-will-find {
    padding: 72px 16px;
}

.you-will-find-title {
    font-size: 40px;
    color: var(--black-90);
    text-align: center;
    margin-bottom: 40px;
    font-weight: var(--normal);
}

.you-will-find-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 343px;
    margin: 0 auto;
}

.find-card-wrapper {
    display: block;
    border: 1.673px solid var(--black-90);
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;
}

.find-card-photo {
    display: block;
    border-top: 1.673px solid var(--black-90);
    width: 100%;
}

.find-card-title {
    display: flex;
    background-color: rgba(229, 63, 142, 0.20);
    color: var(--black-60);
    height: 66px;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 28px;
    font-weight: var(--normal);
    font-family: var(--orelega-one);
}

.find-card-ordered-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--orelega-one);
    font-weight: var(--normal);
    font-size: 20px;
    text-align: center;
    list-style: none;
    padding-left: 0;
    color: var(--black-60);
}

.find-card-list-text {
    display: flex;
    counter-increment: my-counter;
    align-items: center;
    justify-content: center;
    color: var(--black-60);
}

.find-card-list-text::before {
    content: counter(my-counter) "";
}

.find-list-span {
    display: flex;
    width: 215px;
    justify-content: center;
}

.find-card-text {
    font-size: 12px;
    font-weight: var(--normal);
    line-height: normal;
    color: var(--black-60);
    font-family: var(--manrope);
    text-align: center;
    max-width: 329px;
    display: flex;
    margin: 16px auto 0;
}

.break-text {
    display: flex;
    flex-direction: column;
}

.double-training-explanation {
    font-size: 12px;
    font-weight: var(--bold);
    line-height: normal;
    color: var(--black-60);
    font-family: var(--manrope);
}

.group-classes-title {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    font-family: var(--orelega-one);
    font-weight: var(--normal);
    font-size: 20px;
    color: var(--black-60);
}

.group-card-text {
    font-size: 12px;
    font-family: var(--manrope);
    line-height: normal;
    font-weight: var(--normal);
    color: var(--black-60);
    text-align: center;
}

.third-card-list-text {
    display: flex;
    counter-increment: my-counter;
    align-items: center;
    justify-content: center;
}

.third-card-list-text::before {
    content: counter(my-counter) "";
    margin-right: 8px;
}

.third-card-span {
    display: flex;
    width: 270px;
    justify-content: center;
}