@import url('./reset.css');
@import url('../partials/header/header.css');
@import url('../partials/hero/hero.css');
@import url('../partials/numbers/numbers.css');
@import url('../partials/about-me/about-me.css');
@import url('../partials/you-will-find/you-will-find.css');
@import url('../partials/for-whom/for-whom.css');
@import url('../partials/apparatus/apparatus.css');
@import url('../partials/about-training/about-training.css');
@import url('../partials/what-to-take/what-to-take.css');
@import url('../partials/submit/submit.css');
@import url('../partials/answer-questions/answer-questions.css');
@import url('../partials/message-me/message-me.css');
@import url('../partials/gallery/gallery.css');
@import url('../partials/reviews/reviews.css');
@import url('../partials/contact-me/contact-me.css');
@import url('../partials/follow-me/follow-me.css');
@import url('../partials/footer/footer.css');

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Orelega One';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OrelegaOne-Regular.ttf');
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #FDF5FD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orelega One', cursive;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;

    @media screen and (min-width: 744px) {
        padding: 0 48px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 80px;
    }
}