<section class="reviews">
  <div class="reviews-content">
    <h2 class="reviews-title">Reviews</h2>
    <div class="bottom-block">
      <ul class="slider-btns">
        <li>
          <button class="slider-btn reviews_slider-btn-prev" type="button">
            <svg class="slider-icon slider-icon-prev">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="slider-btn reviews_slider-btn-next" type="button">
            <svg class="slider-icon slider-icon-next">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <!-- Swiper -->
    <div class="reviews-swiper-container">
      <div class="reviews-swiper-js reviews-swiper">
        <!-- Additional required wrapper -->

        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <div class="reviews-card">
              <ul class="reviews-card-info">
                <li>
                  <picture class="reviews-card-img">
                    <source
                      srcset="
                        /img/reviews/reviews_1_1x.jpg      1x,
                        /img/reviews/reviews_1_desc_2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/reviews/reviews_1_1x.jpg"
                      alt="Reviewer's photo"
                      loading="lazy"
                    />
                  </picture>
                </li>
                <li>
                  <p class="reviews-card-nickname">Veronica G.</p>
                </li>
                <li>
                  <ul class="reviews-card-stars">
                    <li class="reviews-card-stars-value">5</li>
                    <li class="reviews-card-stars-icon-box">
                      <svg class="reviews-card-stars-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="reviews-card-comment">
                The child has been going to Anastasia for acrobatics for about 6
                months, I am very satisfied with it. I want to emphasize the
                high level of the master's qualifications and the individual
                approach to each child.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="reviews-card">
              <ul class="reviews-card-info">
                <li>
                  <picture class="reviews-card-img">
                    <source
                      srcset="
                        /img/reviews/reviews_2_desc_1x.jpg 1x,
                        /img/reviews/reviews_2_desc_2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/reviews/reviews_2_desc_1x.jpg"
                      alt="Reviewer's photo"
                      loading="lazy"
                    />
                  </picture>
                </li>
                <li>
                  <p class="reviews-card-nickname">Alexander</p>
                </li>
                <li>
                  <ul class="reviews-card-stars">
                    <li class="reviews-card-stars-value">5</li>
                    <li class="reviews-card-stars-icon-box">
                      <svg class="reviews-card-stars-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="reviews-card-comment">
                After the 1st training, we realized that this ideal place is
                suitable for our Camilla.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="reviews-card">
              <ul class="reviews-card-info">
                <li>
                  <picture class="reviews-card-img">
                    <source
                      srcset="
                        /img/reviews/reviews_3_desc_1x.jpg 1x,
                        /img/reviews/reviews_3_desc_2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/reviews/reviews_3_desc_1x.jpg"
                      alt="Reviewer's photo"
                      loading="lazy"
                    />
                  </picture>
                </li>
                <li>
                  <p class="reviews-card-nickname">Albina Kravets G.</p>
                </li>
                <li>
                  <ul class="reviews-card-stars">
                    <li class="reviews-card-stars-value">5</li>
                    <li class="reviews-card-stars-icon-box">
                      <svg class="reviews-card-stars-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="reviews-card-comment">
                Coach Anastasia is a game-changer! Our daughter's skills and confidence have soared since joining gymnastics classes.
                Anastasia's passion and personalized approach make every session enjoyable and productive.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="reviews-card">
              <ul class="reviews-card-info">
                <li>
                  <picture class="reviews-card-img">
                    <source
                      srcset="
                        /img/reviews/reviews_4_desc_1x.jpg 1x,
                        /img/reviews/reviews_4_desc_2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/reviews/reviews_4_desc_1x.jpg"
                      alt="Reviewer's photo"
                      loading="lazy"
                    />
                  </picture>
                </li>
                <li>
                  <p class="reviews-card-nickname">Emily T.</p>
                </li>
                <li>
                  <ul class="reviews-card-stars">
                    <li class="reviews-card-stars-value">5</li>
                    <li class="reviews-card-stars-icon-box">
                      <svg class="reviews-card-stars-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="reviews-card-comment">
                Coach Anastasia has been transformative for our child. The classes strike the perfect balance between fun and
                skill-building. Anastasia's dedication and focus on safety make us confident in our daughter's gymnastics journey.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="reviews-card">
              <ul class="reviews-card-info">
                <li>
                  <picture class="reviews-card-img">
                    <source
                      srcset="
                        /img/reviews/reviews_5_desc_1x.jpg 1x,
                        /img/reviews/reviews_5_desc_2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/reviews/reviews_5_desc_1x.jpg"
                      alt="Reviewer's photo"
                      loading="lazy"
                    />
                  </picture>
                </li>
                <li>
                  <p class="reviews-card-nickname">Sarah M.</p>
                </li>
                <li>
                  <ul class="reviews-card-stars">
                    <li class="reviews-card-stars-value">5</li>
                    <li class="reviews-card-stars-icon-box">
                      <svg class="reviews-card-stars-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </li>
              </ul>
              <p class="reviews-card-comment">
                Our daughter loves gymnastics with Coach Anastasia! The classes are fun yet structured, and Anastasia's patience and
                expertise shine through. It's fantastic to see our child's progress and enthusiasm grow each week.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
