<section class="questions_section">
	<div class="questions_container">
		<h2 class="questions_title main_title">Answers
		to questions</h2>
	<ul class="questions_main_list">
		<li class="questions_main_item">
<div class="questions_wrapper">
	<h3 class="questions_list_title">How does a trial lesson work?</h3>
	<div class="questions_svg_wrapp">
	<div class="questions_svg_wrapp_inner">
		<svg class="questions_svg" width="24" height="24">
			<use href="/img/icons.svg#icon-arrow"></use>
		</svg>
	</div>
	</div>
</div>
	<div class="questions_sub_wrapp">
		<p class="questions_text">It's so individual because all of the kids are different and also it's depends of the age and level of child .
		<br>Beginner and young children need to practice 1-2 times per week for 1 hour</p>
	</div>
</li>
<li class="questions_main_item">
	<div class="questions_wrapper">
		<h3 class="questions_list_title">How often kids should make gymnastics to make a result?</h3>
		<div class="questions_svg_wrapp"><div class="questions_svg_wrapp_inner">
			<svg class="questions_svg" width="24" height="24">
				<use href="/img/icons.svg#icon-arrow"></use>
			</svg>
		</div>
		</div>
		</div>
		<div class="questions_sub_wrapp">
			<p class="questions_text">It's so individual because all of the kids are different and also it's depends of the age and level of child .
				<br>Beginner and young children need to practice 1-2 times per week for 1 hour</p>
		</div>
			</li>
			<li class="questions_main_item">
		<div class="questions_wrapper">
				<h3 class="questions_list_title">If a child misses a class, is the fee refunded?</h3>
		<div class="questions_svg_wrapp">
		<div class="questions_svg_wrapp_inner">
			<svg class="questions_svg" width="24" height="24">
				<use href="/img/icons.svg#icon-arrow"></use>
			</svg>
		</div>
		</div>
		</div>
		<div class="questions_sub_wrapp">
			<p class="questions_text">Missed class can only be considered for a valid reason.
				<br>A valid reason is illness with confirmation - a certificate from a doctor.</p>
		</div>
			</li>
		</ul>
	</div>
</section>