<section class="message_me-section">
<div class="message_me-block">
	<p class="message_me-block-title" data-i18n="messageMe.title">Have any questions?</p>
	<svg class="message-btn-line">
		<use href="/img/icons.svg#icon-line-for-btn" height="100%"></use>
	</svg>
	<button type="button" class="message_me-btn" data-i18n="messageMe.btn">Message me</button>
</div>
<ul class="message_me_social_wrap">
	<li class="message_me_social_item">
		<a href="https://www.instagram.com/be.flexs/?igshid=MzMyNGUyNmU2YQ%3D%3D" class="message_me_social_btn" target="_blank" rel="noopener">Instsgram</a>
	</li>
	<li class="message_me_social_item">
		<a href="https://wa.me/971524116236" class="message_me_social_btn" target="_blank" rel="noopener">WhatsApp</a>
	</li>
</ul>

</section>

